#-*-Makefile-*-

PLATFORM ?= gecko

# Disable MSP430 hardware multiply because it makes MSPGCC die
PFLAGS += -mdisable-hwmul
# OPTFLAGS += -O

# Default BSL assumes telosb-like programming interface
MSP_BSL ?= tos-bsl
MSP_BSL_FLAGS = --swap-reset-test --invert-reset --invert-test --speed=38400

VOLUME_FILE = volumes-at45db.xml
VOLUME_ALLOCATOR ?= tos-storage-at45db

ifdef CC2420_CHANNEL
PFLAGS += -DCC2420_DEF_CHANNEL=$(CC2420_CHANNEL)
endif

PFLAGS += -I$(TOSROOTN)/tos/platforms/gecko
PFLAGS += -I$(TOSROOTN)/tos/platforms/gecko/chips/cc2420x
PFLAGS += -I$(TOSROOTN)/tos/platforms/gecko/chips/pcf2127a
PFLAGS += -I$(TOSROOTN)/tos/platforms/gecko/chips/tsl237t
PFLAGS += -I$(TOSROOTN)/tos/chips/tsl237t
PFLAGS += -I$(TOSROOTN)/tos/chips/pcf2127a

PFLAGS += -I$(TOSROOTN)/tos/platforms/gecko/lib/timer

PFLAGS += -I$(TOSROOTN)/tos/platforms/epic
PFLAGS += -I$(TOSROOTN)/tos/platforms/epic/chips/ds2411

PFLAGS += -I$(TOSROOTN)/tos/types

# Include the gecko-specific targets
#$(call TOSMake_include_platform,gecko)
# Include the msp extra targets
$(call TOSMake_include_platform,msp)

gecko: $(BUILD_DEPS)
	@:
